@charset "utf-8";

html {
    font-size: -webkit-calc((100vw / 750) * 100);
    font-size: calc((100vw / 750) * 100);
}

@media screen and (min-width:800px) {
    html {
        font-size: 100px;
    }
    body {
        width: 800px;
        margin: 0 auto;
    }
}

@function rem($px) {
    @if (unitless($px)) {
        @return 1rem * ($px/100);
    } @else {
        @return 1rem * ($px/100px);
    }
}
