@charset "utf-8";

// 主要用于配置相关的基础变量和参数，如网格断点等

// rem布局
$is-mobile: true;
$remwidth: 750;

// 网格系统
$is-grid:true;
$gutter: 0;
$colNum: 12;
$breakPoint: (768px 750px) (992px 900px) (1200px 1170px) ;

// 伸缩盒布局
$is-flex: true;

// 基础变量

$basemargin: 20px;
$basepadding: 20px;
$baseborder: 1px solid #d7dde4;

// 网格系统
$gutter: 0 15px;
$col-num: 12;
$breakPoint:(600px 600px)(920px 600px)(1220px 900px);

// 颜色
$red: #FF3300;
$oragne: #ff6600;
$yellow: #ff9900;
$green: #00cc66;
$cyan: #6699FF;
$blue: #3399ff;
$purple: #9900FF;
$dark: #333;
$white: #fff;
$gray: #9ea7b4;
$text-gray: #657180;
$bg-gray: #f5f7f9;

$basecolor: $cyan;
// 安全色
$colorArr:(red $red #fff)
    (oragne $oragne #fff)
    (yellow $yellow #fff)
    (green $green #fff)
    (cyan $cyan #fff)
    (blue $blue #fff)
    (purple $purple #fff)
    (dark $dark #fff)
    (white $white #000)
    (gray $gray #000)
    (base $basecolor #fff);

// 页面


// vue
[v-cloak] {
    display: none;
}

//----------------------------引入------------------------------//

// 基础样式
@import "base";

// 布局样式
@import "layout";

// 组件样式
@import "utils";

// 页面样式
@import "page";

// 动画样式
@import "animate";




