<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>后台-橙红年代</title>
    <link rel="stylesheet" href="/assets/fonts/iconfont.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/js/require.js" data-main="/js/admin/admin"></script>
</head>
    <div id="admin" v-cloak>

        <admin-header></admin-header>

        <div class="container-fluid">
            <div class="row">
                <aside class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">首页</li>
                        <li class="list-group-item">博客管理</li>
                    </ul>
                </aside>
                <main class="col-sm-9">
                    sadas
                </main>
            </div>
        </div>
    </div>
</body>
</html>