@charset "utf-8";

 /**
  * ---font---
  */
  

// 默认页面字体

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

// 微软雅黑的在网页上看起来不是很合适
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Verdana", "Microsoft Yahei", "Aril", "sans-serif";
	color: #000;
}
.iconfont {
	font-size: inherit;
}

// 文本对齐
$wordPos:left center right ;
@each $pos in $wordPos {
	.text-#{$pos} {
		text-align: $pos;
	}
}

// 文本缩进
.text-indent {
	text-indent: 2em;
}
// 字体大小
$fontSize:(xs 0.6) (sm 0.75) (md 1) (lg 1.5);
@mixin text-xs {
	font-size: 60%;
}
@mixin text-sm {
	font-size: 75%;
}
@mixin text-md {
	font-size: 100%;
}
@mixin text-lg {
	font-size: 150%;
}

@each $size in $fontSize {
	.text-#{nth($size,1)} {
		font-size: percentage(nth($size,2));
	}
}
// 文本溢出
// 单行
@mixin text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

 // 多行
@mixin text-overflow-line($i:2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:$i;
}


 

