@charset "utf-8";

 /**
  * ---font---
  */
  

//  字体
$basefont:16px/1.5 "Microsoft Yahei",Arial;
// 默认页面字体

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font: $basefont;
	color: #000;
}
.iconfont {
	font-size: inherit;
}

// 文本对齐
$wordPos:left center right ;
@each $pos in $wordPos {
	.text-#{$pos} {
		text-align: $pos;
	}
}

// 文本缩进
.text-indent {
	text-indent: 2em;
}
// 字体大小
$size:xs sm md lg;
@each $s in $size {
	.text-#{$s} {
		font-size: index($size,$s)*0.6*16px;
	}
}
// 文本溢出
// 单行
@mixin text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

 // 多行
@mixin text-overflow-line($i:2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:$i;
}


 

