
.search {
	$btn-pos: 30px;
	font-size: 12px;
	&_input {
		padding: 0 10px;
		line-height: 30px;
		border: none;
		border-bottom: 1px solid #d6d6d6;
		width: 16em;
		padding-right: $btn-pos;
		transition: all ease .3s;
		&:focus {
			border-color: #fff;
		}
	}
	&_btn {
		border: none;
		margin-left: -$btn-pos;
	}

}