@charset "utf-8";

/* ---color--- */

$red: #FF3300 !default;
$oragne: #CC6600 !default;
$yellow: #FF9900 !default;
$green: #33CC66 !default;
$cyan: #6699FF !default;
$blue: #3366FF !default;
$purple: #9900FF !default;
$dark: #333 !default;
$white: #fff !default;
$gray: #f5f5f5 !default;
$text-gray: #999 !default;

$basecolor: $cyan !default;

// 安全色
$colorArr:(red $red #fff)
	(oragne $oragne #fff)
	(yellow $yellow #fff)
	(green $green #fff)
	(cyan $cyan #fff)
	(blue $blue #fff)
	(purple $purple #fff)
	(dark $dark #fff)
	(white $white #000)
	(gray $gray #000)
	(base $basecolor #fff) !default;

// 颗粒类
@each $color in $colorArr{
	.bg-#{nth($color,1)}{
		background-color: nth($color,2);
		color: nth($color,3);
	}

	@if ($color != 'gray') {
		.text-#{nth($color,1)} {
			color: nth($color,2);
		}
	}
}

.text-gray {
	color: $text-gray;
}

/* ---color end--- */