@charset "utf-8";
/* ---particle--- */
@import "../_mixins";
@import "../_config";
// 浮动
.fl {
	float: left;
}

.fr {
	float: right !important;
}

.clearfix {
	@include clearfix;
}

.block {
    display: block;
    width: 100%;
}

//图片
.img-responsive {
	display: block;
	margin: 0 auto;
	width: 100%;
}

// 使用背景图解决图片变形问题
.img-holder {
	background-size: cover;
	background-position: center;
}

// 边距
.mg-base {
	margin: $basemargin;
}
.mt-base {
	margin-top: $basemargin;
}
.mt-base-10 {
	margin-top: 10px;
}
.mb-base {
	margin-bottom: $basemargin;
}
// 边距负1px，主要是为了解决两个边框重合的问题
.mt--1 {
	margin-top: -1px !important;
}
.mb--1 {
	margin-bottom: -1px !important;
}

.pd-base {
	padding: $basepadding/2 $basepadding;
}

.ptb-base {
	padding-top: $basepadding/2;
	padding-bottom: $basepadding/2;
}
/* ---particle end--- */




