
* {
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Verdana", "Microsoft Yahei", "Aril", "sans-serif";
    color: #000;
}

.iconfont {
    font-size: inherit;
}

// HTML新增标签元素在IE9一下正确显示
article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}


// 去除某些浏览器对图片增加的边框
img {
    border: 0;
}

a {
    color: inherit;
    background: transparent;
    text-decoration: none;

}

input,button,textarea,select,optgroup {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    background: inherit;
}

textarea,select,input,button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea {
    resize: none;
}

:focus {
    outline: 0;
}

::-webkit-scrollbar{
    width: 0;
}

