@charset "utf-8";

.form {

}

.input-group {
	@include fx;
	@include fx-cross(stretch);

	& > :first-child {
		border-radius: 4px 0 0 4px;
	}
	& > :last-child{
		border-radius: 0 4px 4px 0;
	}
	.input {
		padding: 0 10px;
		margin: 0 -1px;
		position: relative;
		z-index: 1;

		@include border;
		@include fx-grow(1);

		&:focus {
			border-color: $basecolor;
			$box-shadow:inset 0 1px 1px rgba(#fff,.075), 0 0 8px rgba($basecolor, .6);
			@include box-shadow($box-shadow);
		}
	}
	.input-icon {
		@include border;
	}
}


