@charset "utf-8";
/**
 * ---grid---
 */
// 参考bootstrap的网格系统
// 移除了pull和offset类
// 移除了槽宽
$size:xs sm md lg;
//$size: sm md lg;
//$breakPoint: (768px 750px) (992px 900px) (1200px 900px);

$breakPoint:(600px 600px)(920px 600px)(1220px 900px);
$colNum: 12;

.#{$prefix}-container-fluid {
	width: 100%;
}

.row {
	overflow: hidden;
}
// 媒体查询

%col {
	position: relative;
	min-height: 1px;
}
@for $i from 1 through $colNum {
	@for $j from 1 through length($size) {
		.col-#{nth($size,$j)}-#{$i}{
			@extend %col;
		}
	}
}

// xs
@for $i from 1 through $colNum {
	.col-#{nth($size,1)}-#{$i}{
		width: percentage($i/$colNum);
		float: left;
	}
}
.#{$prefix}-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding:0 $basepadding*2;
}
.hide-xs {
	display: none;
}

// sm md lg
@for $i from 1 to length($breakPoint)+1 {
	@media screen and (min-width: nth(nth($breakPoint,$i),1)) {
		.#{$prefix}-container {
			width: nth(nth($breakPoint,$i),2);
			margin-left: auto;
			margin-right: auto;
		}
		@for $j from 1 through $colNum {
			.col-#{nth($size,$i+1)}-#{$j}{
				width: percentage($j/$colNum);
				float: left;
			}
		}
	}
	@media screen and (max-width: nth(nth($breakPoint,$i),1)){
		.hide-#{nth($size,$i+1)} {
			display: none !important;
		}
	}
}
/**
 * ---end grid---
 */













