@charset "utf-8";

code {
	padding: 0 6px;
	// margin在某些时候导致长代码换行，需要处理这个BUG
	//margin:0 5px;
	display: inline-block;
	color: #f9263e;
	font-family:"Source Code Pro","Georgia", "serif";
	word-break: break-all;

	background-color: rgba(0, 50, 100, 0.08);
	border-radius: 5px;
}

pre {
	overflow: auto;
	margin: 20px 0;
	padding: 15px;

	@include border;
	@include border-radius;
	background: $gray;

	line-height: 1.8;
	font-family: inherit;
	color: #4d4d4c;

	code {
		border: none;
		padding: 0;
		color: inherit;
		background: transparent;
		letter-spacing: 0;
	}
}

blockquote {
	overflow: auto;

	margin-left: 0;
	margin-right: 0;
	padding: 10px 10px 10px 20px;

	background: $gray;
	color: $text-gray;

	border: 1px solid #ccc;
	border-left-width: 6px;
	@include border-radius(0 4px 4px 0);
}
