@charset "utf-8";
.pagination {
	$size: 30px;
	font-size: 14px;
	margin: 3rem 0;
	%base {
		display: inline-block;
		min-width: $size;
		height: $size;
		line-height: $size;
		text-align: center;
		border: 1px solid #f8f8f8;
		&:hover {
			background: #f8f8f8;
		}
	}
	&_item, &_space {
		@extend %base;
	}
	&_current {
		@extend %base;
		background: #f8f8f8;
	}

}