@charset "utf-8";
.pagination {
	$size: 30px;
	margin: $basepadding*2 0;
	%base {
		display: inline-block;
		min-width: $size;
		height: $size;
		line-height: $size;
		text-align: center;
		border: 1px solid #f8f8f8;
	}
	.pagination-item,.pagination-space {
		@extend %base;
	}
	.pagination-current {
		@extend %base;
		background: $gray;
	}

}