
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483237609189'); /* IE9*/
  src: url('iconfont.eot?t=1483237609189#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483237609189') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483237609189') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483237609189#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianjie:before { content: "\e61d"; }

.icon-rss:before { content: "\e8c9"; }

.icon-bookshelf:before { content: "\e72d"; }

.icon-shiyan:before { content: "\e615"; }

