@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1489317988952'); /* IE9*/
    src: url('iconfont.eot?t=1489317988952#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff?t=1489317988952') format('woff'), /* chrome, firefox */ url('iconfont.ttf?t=1489317988952') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg?t=1489317988952#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e600";
}

.icon-qq:before {
    content: "\e648";
}

.icon-search:before {
    content: "\e618";
}

.icon-eye:before {
    content: "\e6c9";
}

.icon-github:before {
    content: "\e69f";
}

.icon-back:before {
    content: "\e697";
}

.icon-top:before {
    content: "\e6a5";
}

.icon-forward:before {
    content: "\e6a7";
}

.icon-archives:before {
    content: "\e60f";
}

.icon-lab:before {
    content: "\e680";
}

.icon-tag:before {
    content: "\e687";
}

.icon-comment:before {
    content: "\e60d";
}

.icon-info:before {
    content: "\e61d";
}

.icon-blog:before {
    content: "\e8c9";
}

.icon-bookshelf:before {
    content: "\e72d";
}

