@charset "utf-8";

//基础配置
// 错误消息提示
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}


// 状态
.impress-supported {
    .fallback-message {
        display: none;
    }
}

// 加载中
.impress-on-bored .hint {
    opacity: 1;
}

// 可用
.impress-enabled {
    .step {
        margin: 0;
        opacity: 0.3;

        @include transition(opacity 1s);
        &.active {
            opacity: 1
        }
    }

    .hint {
        display: block
    }
}

// 每页面板
.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    font-size: 2rem;
    line-height: 1.5;
}

// 提示框
.hint {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 2rem;

    padding: 1rem;

    font-size: 2rem;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;

    // 延迟再次返回第一页出现提示框的时间
    transition: opacity 1s 5s, transform .5s 5s;
}

// 前三屏滑动面板
.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}




// 关于页面，使用impress框架，该页面所需要的样式和动画

.step {
    @include fx;
    @include fx-cross(center);
    @include fx-main(center);
    line-height: 2rem;

    a {
        //text-decoration: underline;
    }
}

// 独立页
#screen-1 {

}