$red: #FF3300 !default;
$oragne: #CC6600 !default;
$yellow: #FF9900 !default;
$green: #33CC66 !default;
$cyan: #6699FF !default;
$blue: #3366FF !default;
$purple: #9900FF !default;
$dark: #333 !default;
$white: #fff !default;
$gray: #f5f5f5 !default;
$text-gray: #999 !default;

$basecolor: $cyan !default;
