@charset "utf-8";

// 主要用于配置相关的基础变量和参数，如网格断点等

$basemargin: 20;
$basepadding: 20;
$baseborder: 1px solid #d6d6d6;


// 网格系统
$gutter: 0;
$col-num: 12;
//$break-point:(600px 600px)(920px 600px)(1220px 900px);
$break-point: (768px 750px) (992px 900px) (1200px 1170px) ;

// 颜色
$yellow: #FF9900;
$green: #33CC66;
$blue: #3366FF;
$purple: #9900FF;


$basecolor: #6699FF ;

// 页面
$labcolor: $purple;
$blogcolor: $yellow;
$bookcolor: $green;
$infocolor: $blue;

