@charset "utf-8";

$labcolor: $purple;
$blogcolor: $yellow;
$bookcolor: $green;
$aboutcolor: $blue;

.index-wrap {
	@extend %page;
	margin-top: 0.5rem;
	text-align: center;
	.page-hd {
		margin-bottom: 0.5rem;
	}

	.nav-item {
		height: 1.5rem;
		padding: 0.1rem;
		&:hover {
			&:nth-of-type(1) {
				color: $labcolor;
			}
			&:nth-of-type(2) {
				color: $blogcolor;
			}
			&:nth-of-type(3) {
				color: $bookcolor;
			}
			&:nth-of-type(4) {
				color: $aboutcolor;
			}
		}
	}
	.item-inner {
		display: block;
		height: 100%;
		@extend %hover-scale;
		@extend %hover-underline;
		.iconfont {
			display: block;
			margin: 0 auto;
			font-size: 0.6rem;
		}
	}
}
