.header {
	background-color: $gray;

	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 80%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	margin: 0;
	position: relative;
	&:before,&:after {
		content: "";
		position: absolute;
		height: 3px;
		left: 15%;
		width: 70%;
		background: $dark;
	}
	&:before {
		top: -5px;
	}
	&:after {
		bottom: -5px;
	}
	.version {
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateX(110%);
		font-size: 40%;
		&:hover {
			color: $blue;
		}
	}
}
.nav-responsive {
	font-size: 16px;
}

// 小屏幕
@media screen and (max-width: nth(nth($breakPoint,2),1)){
	.nav-responsive {
		flex-basis: 100%;
		flex-shrink: 0;

		height: 0;
		overflow: hidden;
		&.active {
			margin-top: 20px;
			height: auto;
		}
		.nav_item {
			display: block;
			text-align: center;
			line-height: 40px;
		}
	}
}

// 大屏幕
@media screen and (min-width: nth(nth($breakPoint,2),1)){
	.nav-responsive {
		float: right;
		display: flex;

		.nav_item {
			display: block;
			padding: 5px 10px;
			border-radius: 3px;

			transition: background ease .2s;
			&:hover {
				background: darken($gray,5%);
			}
		}
	}
}