<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>实验室</title>
    <link rel="stylesheet" href="/assets/fonts/iconfont.css">
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
<div class="lab container">
    <header class="lab_hd">
        <a href="/Home/Index/index" class="back">返回首页</a>
        <div class="search" id="search" v-cloak>
            <div class="search_hd">
                <input type="text"
                       @input="input"
                       @focus="focus"
                       @keyup.enter="enter"
                       @keyup.up="up"
                       @keyup.down="down"
                       @blur="blur"
                       v-model="inputVal"
                       placeholder="数据库被删掉了..." class="search_input">
                <div class="search_icon">
                    <i class="iconfont icon-search"></i>
                </div>
            </div>

            <ul class="search_bd" v-if="isShow">
                <li v-for="(item, index) in tmps"
                    @click="select(item)"
                    :class="['search_item',{'hover':isHover == index}]">
                    <a href="#" class="block">{{item}}</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <ul class="lab_nav">
            <li class="lab_item">
                <a href="/Home/Lab/demo/?id=1" class="lab_link">
                    贪吃蛇
                    <small class="text-gray">实现贪吃蛇</small>
                </a>
            </li>
            <li class="lab_item"><a href="#"  class="block">贪吃蛇</a></li>
            <li class="lab_item"><a href="#"  class="block">贪吃蛇</a></li>
        </ul>
        <div>

        </div>
    </main>
    <script src="/js/require.js"></script>
    <script>
        require(['/js/config.js'],function () {
            require(['vue'],function (Vue) {
                let vm = new Vue({
                    el:"#search",
                    data:{
                        tmps:[],
                        items:['1广东','1广东2','1广东3','湖南','广西','湖北','四川'],
                        isShow: false,
                        inputVal: '',
                        isHover: -1
                    },
                    methods:{
                        focus(e){
                            this.isShow = true;
                        },
                        blur(){
//                            this.isShow = false;
                        },
                        input(){
                            this.tmps = [];
                            let txt = this.inputVal;

                            if (''.trim.call(txt) === ''){
                                return;
                            }

                            this.items.forEach((val)=>{
                                if (val.search(txt) != -1){
                                    this.tmps.push(val);
                                }
                            });
                        },
                        up(){
                            if (this.isHover > -1){
                                this.isHover--;
                            }
                        },
                        down(){
                            if (this.isHover < this.tmps.length - 1){
                                this.isHover++;
                            }
                        },
                        select(val){
                            this.inputVal = val;
                            this.isShow = false;
                        },
                        enter(){
                            if (this.isHover != -1) {
                                this.inputVal = this.tmps[this.isHover];
                                this.input();
                            }
                            // 真正进行搜索的地方

                        }
                    }
                })
            })
        })
    </script>
</div>
</body>
</html>