@charset "utf-8";

// 博客头部样式

.page-hd {
	padding-top: 15px;
	padding-bottom: 15px;
	@include fx;
	@include fx-main(space-between);
	@include fx-cross(center);
	@include fx-wrap;

    %logo-line {
        content: "";
        position: absolute;
        height: 3px;
        left: 15%;
        width: 70%;
        background: $dark;
        @include transition;

    }
    .page-title {
        margin: 0;
        position: relative;
        .title-before {
            @extend %logo-line;
            top: -5px;
        }
        .title-after {
            @extend %logo-line;
            bottom: -5px;
        }
    }
}
// 小屏幕
@media screen and (max-width: nth(nth($break-point,2),1)){
	.page-nav {
		@include fx-basis(100%);
		@include fx-shrink(0);

        height: 0;
		overflow: hidden;
		&.active {
			margin-top: 20px;
            height: auto;
		}
		.nav-item {
			display: block;
			text-align: center;
			line-height: 40px;
		}
	}
}
// 大屏幕
@media screen and (min-width: nth(nth($break-point,2),1)){
	.page-nav {
		float: right;
		@include fx;

		.nav-item {
			display: block;
			padding: 5px 10px;
			@include border-radius;
			@include transition(background ease .2s);

			&:hover {
				background: darken($gray,5%);
			}
		}
	}
}



