@charset "utf-8";

// 博文标签分类页面

.classify {

    margin-bottom: $basemargin*5;
    text-align: center;
    &_hd {
        margin-bottom: $basemargin;
    }


}
.category {
    font-size: 0;
    &_item {
        @extend %hover-dark;
        margin: 5px;
    }
}
.tag {
    word-wrap: break-word;
    &_item {
        display: inline-block;

        margin: 5px;
    }
}
