@charset "UTF-8";
[v-cloak] {
  display: none; }

/**
 * 基础文件
 */
/**
 * ---reset---
 */
body {
  margin: 0;
  min-height: 100vh; }

article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

img {
  border: 0; }

a {
  color: inherit;
  background: transparent;
  text-decoration: none; }

input, button, textarea, select, optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  background: inherit; }

textarea, select, input, button {
  -webkit-appearance: none;
  -moz-appearance: none; }

textarea {
  resize: none; }

:focus {
  outline: 0; }

::-webkit-scrollbar {
  width: 0; }

* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * ---end reset---
 */
/**
 * ---color---
 */
.bg-red {
  background-color: #FF3300;
  color: #fff; }

.text-red {
  color: #FF3300; }

.bg-oragne {
  background-color: #CC6600;
  color: #fff; }

.text-oragne {
  color: #CC6600; }

.bg-yellow {
  background-color: #FF9900;
  color: #fff; }

.text-yellow {
  color: #FF9900; }

.bg-green {
  background-color: #33CC66;
  color: #fff; }

.text-green {
  color: #33CC66; }

.bg-cyan {
  background-color: #6699FF;
  color: #fff; }

.text-cyan {
  color: #6699FF; }

.bg-blue {
  background-color: #3366FF;
  color: #fff; }

.text-blue {
  color: #3366FF; }

.bg-purple {
  background-color: #9900FF;
  color: #fff; }

.text-purple {
  color: #9900FF; }

.bg-dark, ::selection {
  background-color: #333;
  color: #fff; }

.text-dark {
  color: #333; }

.bg-white {
  background-color: #fff;
  color: #000; }

.text-white {
  color: #fff; }

.bg-gray {
  background-color: #f5f5f5;
  color: #000; }

.text-gray {
  color: #f5f5f5; }

.bg-base {
  background-color: #6699FF;
  color: #fff; }

.text-base {
  color: #6699FF; }

.text-gray {
  color: #999; }

/**
 * ---end color---
 */
/**
  * ---font---
  */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Verdana", "Microsoft Yahei", "Aril", "sans-serif";
  color: #000; }

.iconfont {
  font-size: inherit; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-indent {
  text-indent: 2em; }

.text-xs {
  font-size: 60%; }

.text-sm {
  font-size: 75%; }

.text-md {
  font-size: 100%; }

.text-lg {
  font-size: 150%; }

/**
 * ---定义了颗粒类---
 */
.fl {
  float: left; }

.fr {
  float: right !important; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

.block {
  display: block;
  width: 100%; }

.img-responsive {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.square {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%; }
  .square .square_inner {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.square-box {
  display: block;
  position: relative;
  width: 100%; }
  .square-box:after {
    content: '';
    display: block;
    padding-top: 100%; }

/*--------------grid-------------*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.container-fluid {
  width: 100%; }

.row {
  zoom: 1; }
  .row:after {
    content: "";
    display: block;
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px; }

.col-xs-1 {
  padding: 0 15px; }

.col-sm-1 {
  padding: 0 15px; }

.col-md-1 {
  padding: 0 15px; }

.col-lg-1 {
  padding: 0 15px; }

.col-xs-2 {
  padding: 0 15px; }

.col-sm-2 {
  padding: 0 15px; }

.col-md-2 {
  padding: 0 15px; }

.col-lg-2 {
  padding: 0 15px; }

.col-xs-3 {
  padding: 0 15px; }

.col-sm-3 {
  padding: 0 15px; }

.col-md-3 {
  padding: 0 15px; }

.col-lg-3 {
  padding: 0 15px; }

.col-xs-4 {
  padding: 0 15px; }

.col-sm-4 {
  padding: 0 15px; }

.col-md-4 {
  padding: 0 15px; }

.col-lg-4 {
  padding: 0 15px; }

.col-xs-5 {
  padding: 0 15px; }

.col-sm-5 {
  padding: 0 15px; }

.col-md-5 {
  padding: 0 15px; }

.col-lg-5 {
  padding: 0 15px; }

.col-xs-6 {
  padding: 0 15px; }

.col-sm-6 {
  padding: 0 15px; }

.col-md-6 {
  padding: 0 15px; }

.col-lg-6 {
  padding: 0 15px; }

.col-xs-7 {
  padding: 0 15px; }

.col-sm-7 {
  padding: 0 15px; }

.col-md-7 {
  padding: 0 15px; }

.col-lg-7 {
  padding: 0 15px; }

.col-xs-8 {
  padding: 0 15px; }

.col-sm-8 {
  padding: 0 15px; }

.col-md-8 {
  padding: 0 15px; }

.col-lg-8 {
  padding: 0 15px; }

.col-xs-9 {
  padding: 0 15px; }

.col-sm-9 {
  padding: 0 15px; }

.col-md-9 {
  padding: 0 15px; }

.col-lg-9 {
  padding: 0 15px; }

.col-xs-10 {
  padding: 0 15px; }

.col-sm-10 {
  padding: 0 15px; }

.col-md-10 {
  padding: 0 15px; }

.col-lg-10 {
  padding: 0 15px; }

.col-xs-11 {
  padding: 0 15px; }

.col-sm-11 {
  padding: 0 15px; }

.col-md-11 {
  padding: 0 15px; }

.col-lg-11 {
  padding: 0 15px; }

.col-xs-12 {
  padding: 0 15px; }

.col-sm-12 {
  padding: 0 15px; }

.col-md-12 {
  padding: 0 15px; }

.col-lg-12 {
  padding: 0 15px; }

.hide-xs {
  display: none; }

.show-sm {
  display: none; }

.show-md {
  display: none; }

.show-lg {
  display: none; }

.col-xs-1 {
  width: 8.33333%;
  float: left; }

.col-xs-2 {
  width: 16.66667%;
  float: left; }

.col-xs-3 {
  width: 25%;
  float: left; }

.col-xs-4 {
  width: 33.33333%;
  float: left; }

.col-xs-5 {
  width: 41.66667%;
  float: left; }

.col-xs-6 {
  width: 50%;
  float: left; }

.col-xs-7 {
  width: 58.33333%;
  float: left; }

.col-xs-8 {
  width: 66.66667%;
  float: left; }

.col-xs-9 {
  width: 75%;
  float: left; }

.col-xs-10 {
  width: 83.33333%;
  float: left; }

.col-xs-11 {
  width: 91.66667%;
  float: left; }

.col-xs-12 {
  width: 100%;
  float: left; }

@media screen and (min-width: 600px) {
  .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .col-sm-1 {
    width: 8.33333%;
    float: left; }
  .col-sm-2 {
    width: 16.66667%;
    float: left; }
  .col-sm-3 {
    width: 25%;
    float: left; }
  .col-sm-4 {
    width: 33.33333%;
    float: left; }
  .col-sm-5 {
    width: 41.66667%;
    float: left; }
  .col-sm-6 {
    width: 50%;
    float: left; }
  .col-sm-7 {
    width: 58.33333%;
    float: left; }
  .col-sm-8 {
    width: 66.66667%;
    float: left; }
  .col-sm-9 {
    width: 75%;
    float: left; }
  .col-sm-10 {
    width: 83.33333%;
    float: left; }
  .col-sm-11 {
    width: 91.66667%;
    float: left; }
  .col-sm-12 {
    width: 100%;
    float: left; } }

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none !important; }
  .show-sm {
    display: block; } }

@media screen and (min-width: 920px) {
  .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .col-md-1 {
    width: 8.33333%;
    float: left; }
  .col-md-2 {
    width: 16.66667%;
    float: left; }
  .col-md-3 {
    width: 25%;
    float: left; }
  .col-md-4 {
    width: 33.33333%;
    float: left; }
  .col-md-5 {
    width: 41.66667%;
    float: left; }
  .col-md-6 {
    width: 50%;
    float: left; }
  .col-md-7 {
    width: 58.33333%;
    float: left; }
  .col-md-8 {
    width: 66.66667%;
    float: left; }
  .col-md-9 {
    width: 75%;
    float: left; }
  .col-md-10 {
    width: 83.33333%;
    float: left; }
  .col-md-11 {
    width: 91.66667%;
    float: left; }
  .col-md-12 {
    width: 100%;
    float: left; } }

@media screen and (max-width: 920px) {
  .hide-md {
    display: none !important; }
  .show-md {
    display: block; } }

@media screen and (min-width: 1220px) {
  .container {
    width: 900px;
    margin-left: auto;
    margin-right: auto; }
  .col-lg-1 {
    width: 8.33333%;
    float: left; }
  .col-lg-2 {
    width: 16.66667%;
    float: left; }
  .col-lg-3 {
    width: 25%;
    float: left; }
  .col-lg-4 {
    width: 33.33333%;
    float: left; }
  .col-lg-5 {
    width: 41.66667%;
    float: left; }
  .col-lg-6 {
    width: 50%;
    float: left; }
  .col-lg-7 {
    width: 58.33333%;
    float: left; }
  .col-lg-8 {
    width: 66.66667%;
    float: left; }
  .col-lg-9 {
    width: 75%;
    float: left; }
  .col-lg-10 {
    width: 83.33333%;
    float: left; }
  .col-lg-11 {
    width: 91.66667%;
    float: left; }
  .col-lg-12 {
    width: 100%;
    float: left; } }

@media screen and (max-width: 1220px) {
  .hide-lg {
    display: none !important; }
  .show-lg {
    display: block; } }

/*--------------end grid-------------*/
html {
  font-size: 16px; }

@media screen and (min-width: 375px) {
  html {
    /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
    font-size: -webkit-calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: -webkit-calc(16px + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39); } }

@media screen and (min-width: 414px) {
  html {
    /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
    font-size: -webkit-calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: -webkit-calc(18px + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586); } }

@media screen and (min-width: 600px) {
  html {
    /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
    font-size: -webkit-calc(125% + 4 * (100vw - 600px) / 400);
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
    font-size: -webkit-calc(20px + 4 * (100vw - 600px) / 400);
    font-size: calc(20px + 4 * (100vw - 600px) / 400); } }

@media screen and (min-width: 1000px) {
  html {
    /* 1000px往后是每100像素0.5px增加 */
    font-size: -webkit-calc(137.5% + 6 * (100vw - 1000px) / 1000);
    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
    font-size: -webkit-calc(22px + 6 * (100vw - 1000px) / 1000);
    font-size: calc(22px + 6 * (100vw - 1000px) / 1000); } }

/**
	相关组件样式
 */
.list {
  list-style: none; }

.list-unstyle {
  margin: 0;
  padding: 0;
  list-style: none; }

.list .list-icon, .list-unstyle .list-icon {
  float: right;
  margin-left: 20px;
  font-size: 0.8em;
  color: #999; }

.list-border .list-item {
  position: relative;
  line-height: 40px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background: #fff; }
  .list-border .list-item:not(:first-child) {
    margin-top: -1px; }
  .list-border .list-item:hover {
    border-color: #33CC66;
    z-index: 999; }

.tab {
  font-size: 16px; }
  .tab_nav {
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .tab_item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 40px;
    margin: 0 10px;
    color: #999;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #d6d6d6; }
    .tab_item.active {
      color: #6699FF; }
  .tab_panel {
    display: none;
    width: 100%;
    padding-top: 30px; }
    .tab_panel.active {
      display: block; }

/*--------------- 表单 --------------*/
.form-horizontal .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form-inline .form-group {
    margin-right: 20px; }

.checkbox, .radio, .radio-square {
  display: inline-block;
  font-size: 0;
  position: relative;
  z-index: 10;
  width: 20px;
  height: 20px;
  vertical-align: middle; }

.checkbox input[type=checkbox], .radio input[type=radio], .radio-square input[type=radio] {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox i, .radio i, .radio-square i {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0;
  border: 1px solid #d6d6d6; }

.checkbox [type=checkbox]:checked + i, .radio [type=radio]:checked + i, .radio-square [type=radio]:checked + i {
  font-size: 0.85rem;
  color: #6699FF; }

.checkbox [type=checkbox]:checked + i {
  border-color: #6699FF; }

.radio i {
  border-radius: 50%; }

.radio [type=radio]:checked + i {
  border-color: #6699FF; }

.radio-square [type=radio]:checked + i {
  border-color: #6699FF; }

/*
     <div class="inputGroup">
        <input type="text" @input="input" placeholder="数据库被删掉了..." class="inputGroup_input">
        <div class="inputGroup_icon">
            <button class="btn">
                <i class="iconfont icon-search"></i>
            </button>
        </div>
    </div>
*/
.inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #d6d6d6;
  font-size: 75%; }
  .inputGroup_input {
    border: none;
    padding: 0 10px; }

.search {
  font-size: 16px;
  position: relative; }
  .search_hd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d6d6d6; }
  .search_input {
    padding: 5px 10px;
    border: none; }
  .search_icon {
    padding: 5px 10px; }
  .search_bd {
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6; }
  .search_item {
    padding: 5px 10px;
    color: #999;
    border-bottom: 1px solid #d6d6d6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .search_item:hover, .search_item.hover {
      color: #333;
      background-color: #f5f5f5; }

/**
    btn
 */
.btn {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  -webkit-text-size-adjust: none; }

.btn-rect {
  border-radius: 0; }

.btn-round {
  border-radius: 0.3em; }

.btn-circle {
  border-radius: 50%; }

.btn {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  padding: 0 14.4px;
  cursor: pointer; }

.btn-xs {
  font-size: 8px;
  height: 18px;
  line-height: 18px;
  padding: 0 7.2px; }

.btn-sm {
  font-size: 12px;
  height: 27px;
  line-height: 27px;
  padding: 0 10.8px; }

.btn-md {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  padding: 0 14.4px; }

.btn-lg {
  font-size: 24px;
  height: 54px;
  line-height: 54px;
  padding: 0 21.6px; }

.btn-border {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  line-height: calc(100% - 2); }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3rem 0;
  font-size: 0;
  border-top: 1px solid #f8f8f8; }
  .pagination .pagination_link, .pagination .pagination_space {
    display: inline-block;
    position: relative;
    min-width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 14px;
    text-align: center;
    color: #999;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .pagination .pagination_link:before, .pagination .pagination_space:before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 100%;
      height: 1px;
      border-top: 1px solid transparent; }
  .pagination_link:hover {
    color: #333; }
    .pagination_link:hover:before {
      border-color: #333; }
  .pagination_current {
    background: #f8f8f8; }

code {
  padding: 0 6px;
  display: inline-block;
  color: #f9263e;
  font-family: "Source Code Pro","Georgia", "serif";
  word-break: break-all;
  background-color: rgba(0, 50, 100, 0.08);
  border-radius: 5px; }

pre {
  overflow: auto;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: #f5f5f5;
  line-height: 1.8;
  font-family: inherit;
  color: #4d4d4c; }
  pre code {
    border: none;
    padding: 0;
    color: inherit;
    background: transparent;
    letter-spacing: 0; }

blockquote {
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 10px 10px 20px;
  background: #f5f5f5;
  color: #999;
  border: 1px solid #ccc;
  border-left-width: 6px;
  border-radius: 0 4px 4px 0; }

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f; }

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff; }

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672; }

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef; }

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2; }

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e; }

.catalogue {
  text-align: left;
  overflow: scroll;
  font-size: 16px;
  max-height: 90vh; }
  .catalogue .catalogue_group {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none; }
  .catalogue .catalogue_item {
    line-height: 30px;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.popup {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-animation: shadow-show 0.01s linear 0.5s forwards;
  animation: shadow-show 0.01s linear 0.5s forwards; }

@-webkit-keyframes shadow-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.loading_dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #6699FF;
  border-radius: 50%;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
  .loading_dot:nth-of-type(1) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .loading_dot:nth-of-type(2) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s; }

@-webkit-keyframes sk-three-bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-three-bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/**
	前端页面样式
 */
.nav-square .nav_link {
  -ms-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .nav-square .nav_link:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -ms-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1); }

.nav-square .nav_link, .article_tt {
  position: relative; }
  .nav-square .nav_link:after, .article_tt:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background: currentcolor;
    transform: scaleX(0);
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s; }
  .nav-square .nav_link:hover:after, .article_tt:hover:after {
    transform: scaleX(1); }

/**
	首页导航
 */
.nav-square {
  padding: 0.13333rem; }
  .nav-square .nav_item {
    padding: 15px; }
    .nav-square .nav_item:hover:nth-of-type(1) {
      color: #9900FF; }
    .nav-square .nav_item:hover:nth-of-type(2) {
      color: #FF9900; }
    .nav-square .nav_item:hover:nth-of-type(3) {
      color: #33CC66; }
    .nav-square .nav_item:hover:nth-of-type(4) {
      color: #3366FF; }
  .nav-square .nav_link {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav-square .nav_icon {
    line-height: 1.25;
    font-size: 2.5rem; }

.hover-underline {
  position: relative; }
  .hover-underline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background: #333;
    transform: scaleX(0);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .hover-underline:hover:after {
    transform: scaleX(1); }

.hover-highlight {
  color: #666;
  border-bottom: 1px solid #d6d6d6;
  -webkit-transition: border-color ease 0.3s;
  transition: border-color ease 0.3s; }
  .hover-highlight:hover {
    color: #000;
    border-color: #000; }

/*
    头部
*/
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.logo {
  margin: 0;
  position: relative; }
  .logo:before, .logo:after {
    content: "";
    position: absolute;
    height: 3px;
    left: 15%;
    width: 70%;
    background: #333; }
  .logo:before {
    top: -5px; }
  .logo:after {
    bottom: -5px; }

.footer {
  overflow: hidden;
  line-height: 2em;
  font-size: 14px; }

/*
    博客主界面
*/
.main {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: relative; }
  .main.active {
    padding-right: 300px; }

.page {
  min-height: calc(100vh - 78px - 98px);
  padding-top: 2.66667rem;
  padding-bottom: 2.66667rem; }

/*
    博客侧边栏
*/
.aside {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  padding: 0 40px;
  color: #999;
  text-align: center;
  background-color: #333;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translateX(320px);
  transform: translateX(320px); }
  .aside.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  .aside a:hover {
    color: #fff; }
  .aside .media {
    margin: 20px 0; }

@media screen and (max-width: 920px) {
  .aside {
    display: none; }
  .main.active {
    padding-right: 0; } }

.nav-responsive {
  font-size: 16px; }

@media screen and (max-width: 920px) {
  .nav-responsive {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 0;
    overflow: hidden; }
    .nav-responsive.active {
      margin-top: 20px;
      height: auto; }
    .nav-responsive .nav_item {
      display: block;
      text-align: center;
      line-height: 40px; } }

@media screen and (min-width: 920px) {
  .nav-responsive {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav-responsive .nav_item {
      display: block;
      padding: 5px 10px;
      border-radius: 4px;
      -webkit-transition: background ease 0.2s;
      transition: background ease 0.2s; }
      .nav-responsive .nav_item:hover {
        background: #e8e8e8; } }

.nav-border {
  font-size: 0;
  margin: 1.5rem 0; }
  .nav-border .nav_item {
    display: inline-block;
    width: 60px;
    font-size: 14px; }
    .nav-border .nav_item:not(:first-of-type) {
      border-left: 1px solid #d6d6d6; }

@media screen and (min-width: 920px) {
  .article {
    padding: 1.33333rem;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 100;
    -ms-box-shadow: 7px 6px 16px #888;
    -o-box-shadow: 7px 6px 16px #888;
    box-shadow: 7px 6px 16px #888;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .article:hover {
      -ms-box-shadow: 14px 11px 27px #888;
      -o-box-shadow: 14px 11px 27px #888;
      box-shadow: 14px 11px 27px #888; } }

.article {
  margin-bottom: 3rem;
  font-size: 16px;
  color: #333; }
  .article_hd {
    font-weight: normal; }
  .article_info {
    font-size: 75%;
    color: #999;
    word-spacing: 3px; }
  .article_ft {
    margin: 2rem 0; }
  .article_nav {
    zoom: 1; }
    .article_nav:after {
      content: "";
      display: block;
      clear: both; }
  .article_prev {
    float: left; }
  .article_next {
    float: right; }
  .article_ct {
    margin: 10px 0;
    line-height: 2em; }
    .article_ct a {
      color: #6699FF;
      text-decoration: underline; }
      .article_ct a:hover {
        color: #0055ff; }
    .article_ct img {
      max-width: 100%; }
    .article_ct table {
      width: 100%;
      border-collapse: collapse; }
    .article_ct th, .article_ct td {
      border: 1px solid #d6d6d6; }
  .article_tag {
    display: inline-block;
    background-color: #f5f5f5;
    font-size: 14px;
    padding: 5px;
    margin-right: 5px; }
    .article_tag:hover {
      background-color: #b4c5d6;
      color: white; }

.classify {
  margin-bottom: 100px;
  text-align: center; }
  .classify_hd {
    margin-bottom: 20px;
    font-size: 100%; }

.category_item {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 5px;
  border: 1px solid #333;
  font-size: 75%; }
  .category_item:hover {
    background-color: #333;
    color: #fff;
    border: 1px solid #333; }

.tag {
  word-wrap: break-word; }
  .tag_item {
    display: inline-block;
    margin: 10px; }
    .tag_item.text-xs {
      font-size: 12px; }
    .tag_item.text-sm {
      font-size: 15.6px; }
    .tag_item.text-md {
      font-size: 22.8px; }
    .tag_item.text-lg {
      font-size: 30px; }

.archives {
  font-size: 16px;
  border-left: 4px solid #f5f5f5; }
  .archives .archives_count, .archives .archives_title, .archives .archives_item {
    position: relative;
    padding-left: 20px; }
    .archives .archives_count:before, .archives .archives_title:before, .archives .archives_item:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background: #aaa; }
  .archives_count {
    position: relative;
    top: -0.5em; }
    .archives_count:before {
      width: 12px;
      height: 12px;
      border-radius: 12px;
      left: -8px; }
  .archives_title {
    font-weight: normal;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 150%; }
    .archives_title:before {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      left: -7px; }
  .archives_item {
    line-height: 3em;
    color: #666;
    border-bottom: 2px dashed #f5f5f5; }
    .archives_item:before {
      width: 6px;
      height: 6px;
      border-radius: 6px;
      left: -5px; }
    .archives_item:hover {
      color: #000; }
      .archives_item:hover:before {
        background: #333; }
  .archives_link {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .archives_date {
    font-size: 12px;
    margin-right: 15px; }

.btn-list, .btn-top {
  width: 30px;
  height: 30px;
  background: #333;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tool .btn-list, .tool .btn-top {
  position: fixed;
  z-index: 9999;
  right: 15px; }

.tool .btn-list {
  bottom: 65px; }

.btn-list.hover .btn-line:first-child {
  -webkit-transform: translate(-8px, 6px) rotate(-45deg);
  transform: translate(-8px, 6px) rotate(-45deg); }

.btn-list.hover .btn-line:last-child {
  -webkit-transform: translate(-8px, -6px) rotate(45deg);
  transform: translate(-8px, -6px) rotate(45deg); }

.btn-list.close .btn-line {
  transform-origin: center; }
  .btn-list.close .btn-line:nth-of-type(2) {
    opacity: 0; }
  .btn-list.close .btn-line:first-child {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg); }
  .btn-list.close .btn-line:last-child {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg); }

.btn-list .btn-icon {
  overflow: hidden;
  width: 20px;
  font-size: 0;
  line-height: 8px; }
  .btn-list .btn-icon .btn-line {
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #fff;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }

.btn-top {
  bottom: 20px;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translateY(80px);
  transform: translateY(80px); }
  .btn-top i {
    font-size: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .btn-top:hover i {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  .btn-top.active {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

.contact_link {
  margin-right: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #d6d6d6; }
  .contact_link:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: #FF9900;
    border-radius: 2px; }

.lab .lab_hd {
  margin: 0.26667rem 0;
  border: 1px solid #ddd;
  z-index: 100;
  padding: 1.33333rem;
  box-shadow: 14px 11px 27px #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.lab .lab_nav {
  padding: 1.33333rem;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 100;
  box-shadow: 14px 11px 27px #888; }

.lab .lab_item {
  position: relative;
  padding-left: 30px;
  margin-bottom: -1px;
  line-height: 40px;
  font-size: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .lab .lab_item:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: #f5f5f5;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 4px; }
  .lab .lab_item:hover {
    z-index: 1;
    padding-left: 70px;
    background-color: #f5f5f5;
    border-color: gainsboro; }
    .lab .lab_item:hover:before {
      background-color: #333; }

.lab .lab_link {
  display: block;
  width: 100%; }

/**
	相关动画
 */
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94; }

.fallback-message p {
  margin-bottom: 10px; }

.impress-supported .fallback-message {
  display: none; }

.impress-on-bored .hint {
  opacity: 1; }

.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
  .impress-enabled .step.active {
    opacity: 1; }

.impress-enabled .hint {
  display: block; }

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  font-size: 2rem;
  line-height: 1.5; }

.hint {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 2rem;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s 5s, transform .5s 5s; }

.slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #666666;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px; }

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 2rem; }

/*# sourceMappingURL=home.css.map */
