@charset "utf-8";

.search {
    font-size: 16px;
    position: relative;

    &_hd {
        @include fx;
        @include fx-cross(center);
        @include border;
    }
    &_input {
        padding: 5px 10px;
        border: none;
    }

    &_icon {
        padding: 5px 10px;
    }

    // 结果列表
    &_bd {
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: #fff;
        @include list-unstyle;
        @include border-lr;
    }
    &_item {
        padding: 5px 10px;
        color: $text-gray;
        @include border-b;
        @include text-overflow;
        &:hover, &.hover {
            color: $dark;
            background-color: $gray;
        }

    }
}