.pagination {
	$size: rem(70);
	display: flex;
	justify-content: center;

	margin-top: rem(50);
	//font-size: 0;
	border-top: 1px solid #f8f8f8;

	%base {
		display: inline-block;
		position: relative;
		min-width: $size;
		height: $size;
		line-height: $size;

		font-size: 14px;
		text-align: center;
		color: $text-gray;
		transition: all linear .3s;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: -1px;
			width: 100%;
			height: 1px;
			border-top: 1px solid transparent;
		}

	}
	.page-number {
		@extend %base;
		&.current {
			background: #f8f8f8;
		}
		&:hover {
			color: $dark;
			&:before {
				border-color: $dark;
			}
		}
	}
	.next,.prev {
		@extend %base;
	}


	&_link, &_space {
		@extend %base;
	}

	&_link {
		&:hover {
			color: $dark;
			&:before {
				border-color: $dark;
			}
		}
	}

	&_current {
		background: #f8f8f8;
	}

}
