%page-btn {

	width: 30px;
	height:30px;

	background: $dark;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-list {
	@extend %page-btn;
	&:hover {
		.btn-line {
			&:first-child {
				transform: translate(-8px,6px) rotate(-45deg);

			}
			&:last-child {
				transform: translate(-8px,-6px) rotate(45deg);
			}
		}
	}
	&.close{
		.btn-line{
			transform-origin: center;
			&:nth-of-type(2){
				opacity: 0;
			}
			&:first-child {
				transform: translateY(8px) rotate(-45deg);

			}
			&:last-child {
				transform: translateY(-8px) rotate(45deg);
			}
		}
	}
	.btn-icon {
		overflow: hidden;
		width: 20px;

		font-size: 0;
		line-height: 8px;

		.btn-line {
			display: inline-block;
			width: 20px;
			height: 2px;
			background: #fff;
			transition: all linear .3s;
		}
	}
}


$btnHeight: 36px !default;
$btnFont: 16px !default;

.btn {
	display: inline-block;
	vertical-align: middle;
	padding-top: 0;
	padding-bottom: 0;
	border: none ;
	-webkit-text-size-adjust:none;

}
// 外形
$btnShape: (rect 0)(round .3em)(circle 50%);
@each $shape in $btnShape {
	.btn-#{nth($shape,1)} {
		border-radius: nth($shape,2)
	}
}

// 尺寸
// 默认(btn 1)
@mixin btnSize($fontSize,$height,$lineHeight,$padding) {
	font-size:$fontSize ;
	height: $height;
	line-height: $lineHeight;
	padding: 0  $padding * 0.4;
}
.btn {
	@include btnSize($btnFont,$btnHeight,$btnHeight,$btnHeight);
	cursor: pointer;
}
$btnSize:(xs 0.5)(sm 0.75)(md 1)(lg 1.5);

@each $size in $btnSize {
	$sizeNum: nth($size,2);
	.btn-#{nth($size,1)} {
		@include btnSize($btnFont*$sizeNum,$btnHeight*$sizeNum,$btnHeight*$sizeNum,$btnHeight*$sizeNum);
	}
}
// 边框
.btn-border {
	background: transparent;
	border-style: solid;
	border-width: 1px;
	line-height: calc(100% - 2);
}
