<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页-橙红年代</title>
	<link rel="stylesheet" href="/assets/fonts/iconfont.css">
	<link rel="stylesheet" href="/assets/css/home.css">
	<script src="/js/require.js" data-main="/js/blog/blog"></script>
	
</head>
<body >
	<div id="blog" v-cloak >

		<main :class="['page-mn',{'active':showAside}]">
			<blog-hd ></blog-hd>
			<!--<transition name="fade">-->
				<router-view ></router-view>
			<!--</transition>-->
			<blog-ft></blog-ft>
		</main>

		<blog-sd @aside="toggleAside"></blog-sd>
	</div>
</body>
</html>