<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页-橙红年代</title>
	<link rel="stylesheet" href="/assets/fonts/iconfont.css">
	<link rel="stylesheet" href="/assets/css/home.css">

	<script src="/js/require.js" data-main="/js/blog"></script>
	
</head>
<body >
	<div id="blog" v-cloak >

		<main :class="['main',{'active':showAside}]">
			<blog-header ></blog-header>
			<!--<transition name="fade">-->
			<router-view @article="article" ></router-view>
			<!--</transition>-->
			<blog-footer></blog-footer>
		</main>

		<blog-aside @aside="toggleAside" :catalogue="catalogue"></blog-aside>
	</div>
</body>
</html>