<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页-橙红年代</title>
	<link rel="stylesheet" href="/assets/fonts/iconfont.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<script src="/js/require.js" data-main="/js/blog/index"></script>
	
</head>
<body >
	<div id="blog" v-cloak >
		<main :class="['page-mn',{'active':showAside}]">
			<blog-hd v-bind:msg="blogHeader"></blog-hd>
			
			<div class="container" id="blog-index">
				<article-item v-for="article in articles" v-bind:article="article"></article-item>
				<pagination v-bind:page="page"></pagination>
			</div>
			
			<blog-ft v-bind:msg="blogFooter"></blog-ft>
		</main>
		<blog-sd @aside="toggleAside"></blog-sd>
	</div>
</body>
</html>