<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页-橙红年代</title>
	<link rel="stylesheet" href="/assets/fonts/iconfont.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<script src="/js/require.js" data-main="/js/blog/index"></script>
	
</head>
<body >
	<div class="shymean" id="blogIndex" v-cloak>
		<main class="page-mn">
			<blog-header v-bind:title="title" v-bind:items="navItem"></blog-header>
			
			<div class="container">
				<div class="article-wrap">
					<article class="article-item">
						<div class="item-hd">
							<h2 class="item-title"><a href="#">文章标题</a></h2>
							<div class="item-info">
								发表于2016-11-04 |
								分类于 <a href="#">JS</a> |
								<a href="#">暂无评论</a>
							</div>
						</div>
						<div class="item-bd">
							<p>文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</p>
						</div>
						<div class="item-ft">
							<a href="article.html">阅读全文</a>
						</div>
					</article>
					<article class="article-item">
						<div class="item-hd">
							<h2 class="item-title"><a href="#">文章标题</a></h2>
							<div class="item-info">
								发表于2016-11-04 |
								分类于 <a href="#">JS</a> |
								<a href="#">暂无评论</a>
							</div>
						</div>
						<div class="item-bd">
							<p>文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</p>
						</div>
						<div class="item-ft">
							<a href="#">阅读全文</a>
						</div>
					</article>
					<article class="article-item">
						<div class="item-hd">
							<h2 class="item-title"><a href="#">文章标题</a></h2>
							<div class="item-info">
								发表于2016-11-04 |
								分类于 <a href="#">JS</a> |
								<a href="#">暂无评论</a>
							</div>
						</div>
						<div class="item-bd">
							<p>文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</p>
						</div>
						<div class="item-ft">
							<a href="#">阅读全文</a>
						</div>
					</article>
					<article class="article-item">
						<div class="item-hd">
							<h2 class="item-title"><a href="#">文章标题</a></h2>
							<div class="item-info">
								发表于2016-11-04 |
								分类于 <a href="#">JS</a> |
								<a href="#">暂无评论</a>
							</div>
						</div>
						<div class="item-bd">
							<p>文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</p>
						</div>
						<div class="item-ft">
							<a href="#">阅读全文</a>
						</div>
					</article>
					<article class="article-item">
						<div class="item-hd">
							<h2 class="item-title"><a href="#">文章标题</a></h2>
							<div class="item-info">
								发表于2016-11-04 |
								分类于 <a href="#">JS</a> |
								<a href="#">暂无评论</a>
							</div>
						</div>
						<div class="item-bd">
							<p>文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</p>
						</div>
						<div class="item-ft">
							<a href="#">阅读全文</a>
						</div>
					</article>
				
				</div>
				<nav class="pagination">
					<a href="#" class="pagination-item"><i class="iconfont icon-back"></i></a>
					<a href="#" class="pagination-item">1</a>
					<span class="pagination-current">2</span>
					<span class="pagination-space">...</span>
					<a href="#" class="pagination-item">5</a>
					<a href="#" class="pagination-item"><i class="iconfont icon-forward"></i></a>
				</nav>
			</div>
			<footer class="bg-gray page-ft">
				<div class="container">
					<p>
						@Shymean 2016
					</p>
					<p>世人的悲欢并不相通，我只是觉得他们吵闹。</p>
				</div>
			</footer>
		</main>
		<aside class="page-sd bg-dark text-center text-gray">
			<div class="author-info">
				<img src="../../assets/img//tmp/head.jpg" alt="" width="100" height="100">
				<h3 class="text-white">ShyMean</h3>
				<p>一个不学无数且无趣的人。</p>
			</div>
			<div class="side-nav">
				<a href="">43<br>归档</a>
				<a href="">43<br>标签</a>
				<a href="">43<br>分类</a>
				<a href="">43<br>书架</a>
			</div>
			<div class="author-contact">
				<a href="#"><i class="fa fa-github"></i> GitHub</a>
				<a href="#"><i class="fa fa-qq"></i> QQ</a>
			</div>
		</aside>
		<div class="side-tool">
			<div class="btn-list" id="sideList">
				<div class="btn-icon">
					<span class="btn-line"></span>
					<span class="btn-line"></span>
					<span class="btn-line"></span>
				</div>
			</div>
			<div class="btn-top" id="backTop"><i class="fa fa-angle-up"></i></div>
		</div>
	</div>
</body>
</html>