@charset "utf-8";

%hover-scale {
	@include box-shadow;
	@include transition(all .2s ease);
	&:hover {
		@include transform(scale(1.05));
		@include box-shadow(0 0 4px 4px rgba(0,0,0,0.1));
	}
}
%hover-underline {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -3px;
		height: 2px;
		width: 100%;
		background: currentcolor;
		transform: scaleX(0);
		@include transition(all ease .2s);
	}
	&:hover:after {
		transform: scaleX(1);
	}
}


