@charset "utf-8";

%hover-scale {
	@include box-shadow;
	@include transition(all .2s ease);
	&:hover {
		@include transform(scale(1.05));
		@include box-shadow(0 0 4px 4px rgba(0,0,0,0.1));
	}
}
%hover-underline {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -3px;
		height: 2px;
		width: 100%;
		background: currentcolor;
		transform: scaleX(0);
		@include transition(all ease .2s);
	}
	&:hover:after {
		transform: scaleX(1);
	}
}

// animated.css

.animated {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-30%, 0, 0);
		transform: translate3d(-30%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

@keyframes slideInRight {
	from {
		-webkit-transform: translate3d(30%, 0, 0);
		transform: translate3d(30%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}

