@charset "utf-8";

.lab {
	.page-top {
		overflow: hidden;
		margin: rem($basemargin) 0;
		@include fx;
		@include fx-main(space-between);
		@include fx-cross(center);
	}

	.page-title {
		margin: 0;
		text-align: center;
		color: $labcolor;
	}
}
.lab-list {
	padding: 0 rem(100);
}
.lab-item {
	position: relative;
	padding-left: 30px;
	margin-bottom: -1px;

	line-height: 40px;


	@include border(1px solid transparent);
	@include text-overflow;
	@include transition;

	&:before {
		$r: 8px;
		content: '';
		position: absolute;
		left: $r;
		top: 50%;
		width: $r;
		height: $r;
		margin-top: -$r/2;
		margin-left: -$r/2;
		background-color: $gray;

		@include transition;
		@include border-radius;
	}

	&:hover {
		z-index: 1;
		padding-left: 70px;
		background-color: $gray;
		border-color: darken($gray,10%);
		&:before {
			background-color: $dark;
		}
	}

	a {
		@include block;
	}
}
