@charset "utf-8";

.article{
    margin-bottom: 3rem;
    font-size: 16px;
    color: #333;
    &_hd {
        font-weight: normal;
    }
    &_tt {
        @extend %hover-underline;
    }

    &_info {
        @include text-sm;
        color: $text-gray;
        word-spacing: 3px;
    }

    // 文章的主要样式，一部分在markdown.scss中定义，另一部分常规标签需要在这里限制
    &_ct {
        margin: 10px 0;
        line-height: 2em;
        a {
            color: $cyan;
            text-decoration: underline;
            &:hover {
                color: darken($cyan,20%);
            }
        }

        img {
            max-width: 100%;
        }
    }
    &_tag {
        display: inline-block;
        background-color: $gray;
        font-size: 14px;
        padding: 5px;
        &:hover {
            background-color: darken(#f6f8fa,20%);
            color: lighten($gray,20%);
        }
    }
}
