@charset "utf-8";

// 博客头部样式

.page-hd {
	padding-top: 30px ;
	padding-bottom: 30px ;

	@include fx;
	@include fx-main(space-between);
	@include fx-cross(center);
}

.page-nav {
	@include fx;

	.nav-item {
		display: block;
		padding: 5px 10px;
		@include border-radius;
		@include transition(background ease .2s);

		&:hover {
			background: darken($gray,5%);
		}
	}
}

%logo-line {
	content: "";
	position: absolute;
	left: 10%;
	width: 80%;
	height: 3px;
	background: $dark;
	@include transition(width linear .3s .2s);
}

.page-title {
	position: relative;
	margin: 0;
	$space: -6px;

	&:before {
		top: $space;
		@extend %logo-line;
	}

	&:after {
		bottom: $space;
		@extend %logo-line;
	}
}