@charset "utf-8";





// 处理侧边栏滑动引起的排版变动
// 由于与网格系统的定义有冲突，因此书写单独样式
$breakPoint:(920px 600px)(1220px 900px);
.page-wrap {
	padding: 0 $basepadding*2;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 920px) {
	.page-wrap {
		width: 600px;
	}
}
@media screen and (max-width: 600px) {
	.page-wrap{
		width: 100%;
	}
}
@for $i from 1 to length($breakPoint)+1 {
	@media screen and (min-width: nth(nth($breakPoint,$i),1)) {
		.page-wrap{
			width: nth(nth($breakPoint,$i),2);
		}
	}
}

// 主内容与侧边栏
.page-mn {
	@include transition;
	position: relative;
	min-height: 100vh;
	&.active {
		//@include transform(translateX(-130px));
		padding-right: 320px;
	}
}
.page-sd {
	position: fixed;
	z-index: 999;
	top: 0;
	right:0;

	width: 320px;
	height:100%;
	padding: 0 $basepadding*2;
	@include transition;
	@include transform(translateX(320px));
	&.active {
		@include transform(translateX(0px));
	}
	a {
		&:hover {
			color: #fff;
		}
	}
	.author-info {
		margin: $basemargin 0;
	}
	.author-contact {
		a {
			margin-right: 10px;
			padding: 5px 0;
			@include border-b;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				width: 4px;
				height: 4px;
				background: $yellow;
				border-radius: 2px;
			}
		}
	}
	.side-nav {
		font-size: 0;
		margin: $basemargin 0;
		a {
			display: inline-block;
			width: 60px;
			font-size: 14px;
			&:not(:first-of-type){
				@include border-l;
			}
		}
	}
}

// 主屏顶部及导航
.page-hd {
	overflow: hidden;
	height: 90px;
	line-height: 90px;
}

%logo-line {
	content: "";
	position: absolute;
	left: 10%;
	width: 80%;
	height: 3px;

	background: $dark;
	@include transition(width linear .3s .2s);
}

.page-title {
	position: relative;
	float: left;
	margin: 0;

	&:before {
		top: 15px;
		@extend %logo-line;
	}
	&:after {
		bottom: 15px;
		@extend %logo-line;
	}
}
.page-nav {
	overflow: hidden;
	float: right;
	.nav-item {
		float: left;
		text-align: center;
		i {
			margin-right: 5px;
		}
		a {
			display: inline-block;
			padding: 0 10px;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			@include transition(background ease .2s);
			&:hover {
				background: darken($gray,10%);
			}
		}
	}
}

// 首页主体
.page-bd {
	margin-top: $basemargin*3;
	padding-bottom: $basemargin*6;
	.t-pagination {
		border-top:1px solid $gray;

	}
	.pagination-item{
		@include transition(background ease .2s);
		&:hover {
			background: $gray;
		}
	}
}
// 底部
.page-ft {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	line-height: 2em;
	font-size: 14px;
}
// 首页文章摘要
.article-item {
	margin-bottom: $basemargin*3;

	.item-title {
		font-weight: normal;
		margin:0 0 10px 0 ;
		a {
			@extend %hover-underline;
		}
	}
	.item-info {
		font-size: 12px;
		color: $text-gray;
		a {
			@extend %hover-highlight;
		}
	}
	.item-bd {
		margin: 10px 0;
		font-size: 14px;
		line-height: 2em;
	}
	.item-ft {
		a {
			display: inline-block;
			padding: 5px 0;
			border-bottom: 2px solid #dedede;
			@extend %hover-highlight;
		}
	}
}
// 归档
@mixin archives-dot($r) {
	&:before {
		width: $r;
		height: $r;
		border-radius: $r;
		left: -($r+4)/2;
	}
}
%archives {
	position: relative;
	border-left: 4px solid $gray;
	padding-left: $basepadding*2;
	&:before {
		content: '';
		position: absolute;
		z-index:1;

		top: 0;
		bottom: 0;
		margin: auto 0;

		background: #aaa;
	}
}
.archives-count {
	line-height: 0;
	@extend %archives;
	@include archives-dot(12px);


}
.archives-title {
	font-size: 20px;
	font-weight: normal;
	padding-top: $basepadding*4;
	padding-bottom: $basepadding*4;
	margin-bottom: -1.5em;

	@include archives-dot(10px);
	@extend %archives;
}
.archives-item {
	padding-top: $basepadding*1.5;
	padding-bottom: $basepadding*1.5;

	color: #666;
	border-bottom: 2px dashed $gray;

	@extend %archives;
	@include archives-dot(6px);
	&:hover {
		color: #000;
		&:before{
			background: $dark;
		}
	}
	.post-time {
		font-size: 12px;
		margin-right: 15px;
	}
}
// 书架
.books-count {
	a {
		@extend %hover-highlight;
	}
	.btn {
		margin-top: -6px;
		@extend %hover-dark;
	}
}
.books-list{
	.book-label {
		font-size: 12px;
		color: $text-gray;
	}
	a {
		@extend %hover-highlight;
	}
	line-height: 30px;
}
.book-item {
	margin: $basepadding;
	padding: $basepadding;
	position: relative;
	@extend %shadow;
}
// 分类
.category-sec {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $basemargin*5;
	text-align: center;
	.sec-hd {
		margin-bottom: $basemargin;
	}
}
.category-type {
	font-size: 0;
	a {
		font-size: 1rem;
		@extend %hover-dark;
		margin: 5px;
	}
}
.category-label {
	a {
		margin:0 5px;
		@extend %hover-highlight;
	}
}
// 文章详情
.article {
	@extend .article-item;
	.item-hd {
		margin-bottom: $basemargin*3;
	}
	.item-bd {
		font-size: 1rem;
		a {
			@extend %hover-highlight;
		}
	}
}