@charset "utf-8";

// 博客主界面

.page-mn {
	@include transition;
	position: relative;

	&.active {
		//@include transform(translateX(-130px));
		padding-right: 300px;
	}
}
.page-bd {
	min-height: calc(100vh - 108px - 118px);
}