@charset "utf-8";

// 博文标签分类页面

.classify {

    margin-bottom: $basemargin*5;
    text-align: center;
    &_hd {
        margin-bottom: $basemargin;
        @include text-md;
    }


}
.category {

    &_item {
        display: inline-block;
        padding: 5px 10px;
        margin: 10px 5px;
        border: 1px solid $dark;

        @include text-sm;
        &:hover {
            background-color: $dark;
            color: #fff;
            border: 1px solid $dark;
        }
    }
}
.tag {
    word-wrap: break-word;
    &_item {
        display: inline-block;

        margin: 10px 5px;
    }
}
