@charset "utf-8";


/**
	首页导航
 */


$labcolor: $purple;
$blogcolor: $yellow;
$bookcolor: $green;
$infocolor: $blue;

$indexcolor: ($labcolor $blogcolor $bookcolor $infocolor);



// 正方形的导航项
.nav-square {
	padding: rem(10);


	.nav_item {
		padding: 15px;
		&:hover {
			@each $color in $indexcolor{
				&:nth-of-type(#{index($indexcolor,$color)}){
					color: $color;
				}
			}
		}
	}

	.nav_link {
		padding: 20px;

		@extend %hover-scale;
		@extend %hover-underline;

		@include fx;
		@include fx-cross(center);
		@include fx-main(space-around);
		@include fx-dir(column);
	}

	.nav_icon {
		line-height: 1.25;
		font-size: 2.5rem;
	}
}








