
.about {
	.btn {
		cursor: default;
		margin-right: 5px;
        margin-top: 5px;
	}
	.about_hd {
		margin-bottom: rem(20);
	}
	.about_tt {
		margin-bottom: 5px;
	}
	.about_ct {
		font-size: 16px;
	}

	a {
		color: $blue;
		text-decoration: underline;
		&:hover {
			color: darken($blue, 10%);
		}
	}
}
