.book {
    font-size: 16px;
    text-align: left;

    &_name {
        width: 300px;
    }
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    th, td {
        padding: 10px 0;
    }

    a {
        color: $basecolor;
    }
}