@charset "utf-8";


/**
	首页导航
 */



$indexcolor: ($labcolor $blogcolor $bookcolor $infocolor);

.index {
	.page-hd {
		margin-top: rem(40);
		margin-bottom: rem(40);
		text-align: center;
	}
	.page-nav {

	}
}



.nav-item {
	padding: rem(10);
	&:hover {
		@each $color in $indexcolor{
			&:nth-of-type(#{index($indexcolor,$color)}){
				color: $color;
			}
		}
	}

	.nav-link {
		padding: 20px;

		@extend %hover-scale;
		@extend %hover-underline;

		@include fx-jusify-v;

		.iconfont {
			line-height: 1.2em;
			font-size: 60px;
		}
	}
}

