@charset "utf-8";

.media {
    margin-bottom: 10px;
    padding: 10px 0;
    @include fx;
    @include border-b;
    &_sd {
        width: 6rem;
        margin-right: 1rem;
    }
    &_img {
        width: 100%;
    }
    &_mn {
        @include fx-grow(1);
        @include fx;
        @include fx-dir(column);
        @include fx-main(space-between);
    }
    &_tt {
        margin-bottom: 10px;
    }
    &_ct,&_ft {
        color: $text-gray;
        font-size: 0.7rem;
    }
    &_ft {

    }
}
