@charset "utf-8";

// 页面公共样式的父类，这里只书写使用占位符继承的抽象样式父类

// 阴影
%shadow {
	&:before,&:after {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:20px;

		width:60%;
		height:20px;
		box-shadow:0 13px 10px rgba(0, 0, 0, 0.4);
	}
	&:before {
		left:10px;
		transform:rotate( -4deg);
	}
	&:after {
		right:10px;
		transform:rotate(4deg);
	}
}
