@charset "utf-8";

// 用于在页面重复出现，但是与其他组件没有通用之处，且不能单独提升为一个组件的的样式
// 这类样式应当非常独立，不依赖于任何其他组件

.back {
	display: block;
	padding-left: 5px;

	.iconfont {
		float: left;
		@include transition;
	}
	&:hover {
		.iconfont {
			@include transform(translateX(-5px));
		}
	}
}

.btn-list {
	bottom: 65px;
	@extend %page-btn;
	.btn-icon {
		overflow: hidden;
		width: 20px;

		font-size: 0;
		line-height: 8px;

		.btn-line {
			display: inline-block;
			width: 20px;
			height: 2px;
			background: #fff;
			@include transition;
		}
		&.hover {
			.btn-line {
				&:first-child {
					@include transform(translate(-8px,6px) rotate(-45deg));

				}
				&:last-child {
					@include transform(translate(-8px,-6px) rotate(45deg));
				}
			}
		}
		&.close{
			.btn-line{
				transform-origin: center;
				&:nth-of-type(2){
					opacity: 0;
				}
				&:first-child {
					@include transform(translateY(8px) rotate(-45deg));

				}
				&:last-child {
					@include transform(translateY(-8px) rotate(45deg));
				}
			}
		}
	}
}
.btn-top {
	bottom: 20px;
	color: #fff;

	@extend %page-btn;
	@include transition;
	@include transform(translateY(80px));
	i {
		font-size: 30px;
		margin-top: -4px;
		@include transition;
	}
	&:hover {
		i {
			@include transform(translateY(-5px));
		}
	}
	&.active {
		@include transform(translateY(0px));
	}
}