@charset "utf-8";

// 用于在页面重复出现，但是与其他组件没有通用之处，且不能单独提升为一个组件的的样式
// 这类样式应当非常独立，不依赖于任何其他组件

.back {
	padding-left: 25px;
	background: url("/assets/img/icon/arrow_left.png") no-repeat left 5px center;
	@include transition;
	&:hover {
		background-position: left 0;
	}
}